{{- define "main" }}

<article class="post-single">
    <header class="post-header">

        <h1 class="post-title">
            {{- .Title -}}
        </h1>
        {{- if .Description }}
        <div class="post-description">
            {{- .Description -}}
        </div>
        {{- end }}

    </header>

    {{ $rss := getJSON "data/rss/rss_subscription.json" }}

    <div class="post-content">
        <div class="introduction">
            <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <h3>更新于 {{ with $rss.last_updated }}{{ . }}{{ else }}N/A{{ end }}</h3>
                <p style="font-size: 0.8em; margin-top: -10px;">{{ with $rss.last_updated }}tips: 使用方向键左右滑动{{ else }}No
                    RSS
                    data available{{ end }}</p>
            </div>

            <a href="https://github.com/EuDs63/TinyTinyRSS-OPML-to-MD-Table" target="_blank">Power by
                TinyTinyRSS-OPML-to-MD-Table</a>
        </div>

        {{ with $rss.data }}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Feed URL</th>
                    <th>HTML URL</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .title }}</td>
                    <td>{{ .feed_url }}</td>
                    <td>{{ .html_url }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ else }}
        <p>No RSS data available</p>
        {{ end }}
    </div>


</article>

{{ end }}