.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
}

.buttons {
    display: flex;
    /* 将按钮放在一行上 */
    justify-content: center;
    /* 水平居中按钮 */
    margin-top: 20px;
    /* 修改上边距 */
}

/* 在小屏幕上，按钮垂直堆叠 */
@media screen and (max-width: 600px) {
    .buttons {
        flex-direction: column;
    }
}

.button {
    background: var(--tertiary-bg);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.button:hover {
background-color: #333;
    /* 按钮背景颜色 - 悬停状态 */
    color: #fff;
    /* 文本颜色 - 悬停状态 */
}
